<%= render 'header' %>
<main class="main">
<div class="container-fluid">
<div class="row">
<% if @current_user.admin? %> 
  <div class="col-3">
    <%= render 'search_sort_block' %>
  </div>
<% end %>
  <div class="col">
    <div class="row">
      <%= render 'card_task' %>
    </div>
  </div>
</div>
</div>
</main>


