// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
}
body {
  counter-reset: section; 
  background-color: #e8eaf0;
  font-family: Verdana ,sans-serif;
  font-size: 16px

}
* {
  position: relative;
}
*:focus,*:active {
  
  outline: none;
  box-shadow: none;
}
.counter_item::before {
    counter-increment: section;
    content: counter(section);
}
strong {
  color: rgb(68, 71, 82);
}
span {
  color: rgb(163, 167, 170);
}
h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 1vw;
}
p {
  font-size: 1vw;
  padding: 0;
  margin: 0;
  line-height: 1.5
}
a {
  font-size: 1vw;
  text-align: center;
  color: $blue;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

$text-color : gray;
$blue: #448aff;
$gray: rgb(68, 71, 82);
$l_gray: rgb(163, 167, 170);
$red: #974b4b;
$border_color: #e3e5ea;

.header {
  padding: .5vw 0;
  margin-bottom: 1vw;
  background: rgb(255, 255, 255);
  border-bottom: 0.1vw solid rgb(227, 229, 234);
  &Logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;    
    height: 100%;
    color: $text-color;
    &__img {
      width: 100%;
    }
  }
  &AccountList {
    height: 100%;
    margin-right: 3vw;
    &__item {
      display: flex;
      align-items: center;
      i {
        margin: 0 .4vw;
        font-size: 1.2vw;
      }
    }
  }
  &ButtonList {
    height: 100%;
    &__item {
      margin-left: 1.7vw;
    }
  }
}
.main {
  margin-top: 9vh;
}
.searchInput {
  border-color: $blue !important;
  
  &:focus {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) !important;
    outline: none !important;
  }
}
.btn--size {
  width: 6vw;
  white-space: nowrap;
  font-size: 1vw;
}
.btn--visualBlue {
  color: $l_gray;
  border-color: $blue;
  background-color: #fff;
  &:hover {
    color: $gray;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  &:focus {
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2)
  }
}
.btn--visualGray {
  color: $gray;
  border-color: $gray;
  &:hover {
    color: $gray;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  &:focus {
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75)
  }
}
.btn--visualCreate {
  color: $blue;
  border-color: $blue;
  background-color: #fff;
  &:hover {
    color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    background-color: $blue;
  }
  &:focus {
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2)
  }
  i {
    margin-left: 1vw;
  }
}
.btn--visualRed {
  color: $red;
  border-color: $red;
  &:hover {
    color: $red;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  &:focus {
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75)
  } 
}
.ToDo {
  border-top: 0.3vw solid #55a8fd;
}
.InRewiew {
  border-top: 0.3vw solid #ffbc3c;
}
.InProgress {
  border-top: 0.3vw solid #8f7ee5;
}
.Done {
  border-top: 0.3vw solid #4dd87a;
}

.cardTask {
  background-color: #fff;
  margin: 0 0 1vw;
  border-radius: 0.25vw;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 7px 0px rgba(115,106,115,1)
  }
  &__head {
    overflow: hidden;
    &Top {
      padding-left: 1vw;
      padding-right: 1vw;      
      border-bottom: 0.1vw solid #e3e5ea;
      i {
        margin-right: 1vw;
        color: $gray;
      }
    }
  }
  &__capt {
    text-transform: uppercase;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: 3.2vw;
    overflow: hidden;
  }
  &__linkShow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    opacity: 1;
  }
  &__content {
    padding-left: 1vw;
  }
  &__contentText {
    overflow: hidden;
    height: 3vw;
  }
  &__details {
    margin-bottom: 1vw;
  }
  &__detailsText {
    height: 3vw;
    overflow: hidden;
    
  }
  &__listBtn {
    width: 100%;
    display: flex;  
    border-top: 0.1vw solid #e3e5ea;  
  }
  &__itemBtn {
    width: 50%;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1vw;
      padding-bottom: 1vw;
      &:hover {
        background-color: $blue;
        color: #fff;
        text-decoration: none;
      }
    }
    &:first-child {
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 0.1vw;
        background-color: #e3e5ea;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(50%)
      }
    }

  }
}


.sortList {
  border-radius: 0.25vw;
  border: 1px solid $blue;
  background-color: #fff;  
  &__item {    
    border-bottom: 0.1vw solid $border_color;
    &:last-child {
      border: none;
    }
    a {
      display: block;
      padding-left: 1vw;
      color: $gray;
      padding: .5vw 0 .5vw 1vw;
      text-align: left;
      &:hover {
        text-decoration: none;
        background-color: $blue;
        color: #fff;
      }
    }
  }
}


.wrappCreateBtn {
  margin-top: 3vw;
}

.cardNewEditTask {
  background-color: #fff;
  border-radius: 0.25vw;
  padding: 3vw 0;
  margin-top: 1vw;
}
.wrappMainCapt {
  padding: .5vw 0;
  background-color: $blue;
  border-top-left-radius: 0.25vw;
  border-top-right-radius: 0.25vw;
  &__capt {
    text-transform: uppercase;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex; 
    justify-content: space-between;
    height: 4.5vw;
    overflow: hidden;
    strong {
      color: #fff;
    }
    i {
      color: #fff;
    }
  }
}

.dateList {  
  background-color: #fff;
  border-bottom-left-radius: .25vw;
  border-bottom-right-radius: .25vw;
  &__item {
    padding: 1vw;
    border-bottom: 0.1vw solid $border_color;
    overflow: hidden;
  }
}

.commentList {  
  max-height: 50vh;
  overflow: auto;
  &__item {
    margin: 0.5vw 0;
  }
  &__comment {
    background-color: #fff;
    overflow: scroll;
    height: 4.4vw;
    border-radius: 1vw;
    padding: 1vw 2vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;	
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -3vw;
      height: 0;
      border-top: 100px solid #448aff;
      border-right: 100px solid transparent;
      
    }
  }
}


@media only screen and (max-width: 992px) { 

  .header {
    &Logo {
      width: 50%;
      margin-top: 1rem;
    }
    &AccountList {
      justify-content: center;
      margin: 1rem 0 0;      
      &__item { 
        font-size: 1.3rem;       
        i {
          font-size: 1.5rem;
        }
      }
    }
    &ButtonList {
      flex-flow: column;
      &__item {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
      }
          }         

  }

  .btn--size {
    width: 100%;
    font-size: 1.3rem;
  }




}
