

<div class="container">
  <div class="row">
    <div class="col-12">
    <h1>Hello !!! I'm Start Page for This Progect !!!!</h1>
    <%= link_to 'My Task Manager', controller: 'tasks' %>
    </div>
  </div>
</div>
